.section-100 {
    /*position: relative;*/
    width: 100%;
    left: 0;
}

.containerL1 {
    position: absolute;
    top: 3%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.chaosTextContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    /* background-color: #2196F3; */
    padding: 1px;
}

.smallerContainer {
    height: 10vw;
    position: relative;
}

.chaosText {
    display: inline-block;
    top: 7.5vw;
    z-index: 2;
    font-family: Muli;
    color: #3B3B3C;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.chaosText.smaller {
    font-family: Bembobookmtpro;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: left;
    line-height: 1.5vw;
    position: absolute;
    transition: 900ms;
    transition-timing-function: ease-in-out;
}

.chaosText.smaller.top {
    top: 12%;
}

.chaosText.smaller.middle {
    text-align: center;
    top: 12%;
    left: 47%;
}

.chaosText.smaller.right {
    text-align: right;
    top: 12%;
}

.chaosText.smaller.left2 {
    text-align: left;
    top: 45%;
}

.chaosText.smaller.middle2 {
    text-align: center;
    top: 45%;
    left: 48%;
}

.chaosText.smaller.right2 {
    text-align: right;
    top: 45%;
}

.chaosText.smaller.left3 {
    text-align: left;
}

.chaosText.smaller.middle3 {
    text-align: center;
    left: 45%;
}

.chaosText.smaller.right3 {
    text-align: right;
}


/*Projects In Motion Now*/

.section-2021 {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.grid-container.No2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container.No3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item2 {
    background-color: #EDEDEE;
    border-right: 2px solid #EDEDEE;
    border-left: 2px solid #EDEDEE;
}

.ongoing {
    font-family: Muli;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.8vw;
    text-align: center;
    margin-top: 12vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}

.ongoing.No2 {
    font-size: 1.08vw;
    margin-top: 10vw;
}

.ongoing.No3 {
    font-size: 1vw;
    margin-top: 9vw;
}

.coverBorder {
    border-bottom: 6px solid #E6E7E8;
    border-top: 6px solid #E6E7E8;
}

.blackBG {
    width: 80%;
    background-color: rgba(66, 65, 66, 1.0);
}

.sectionTitle {
    width: 100%;
    font-family: Muli;
    font-size: 1.3vw;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    line-height: 2vw;
    padding-top: 0.8vw;
}

.sectionPartition {
    height: 3.5vw;
    background-color: #414042;
}

.newProjectTitle {
    z-index: 1;
    margin-bottom: 0.1vw;
    margin-top: 0.3vw;
    font-family: Muli;
    color: #000;
    font-size: 1.1vw;
    line-height: 1.2vw;
    font-weight: 300;
    text-align: center;
    
}
.newProjectTitle:hover {
    font-weight: 500;
    transition: 500ms;
}

.newProjectTitle.No2 {
    font-size: 1vw;
}

.newProjectTitle.No3 {
    font-size: 1vw;
}


/*Mindful Eating project*/

.MEprojectTitleDiv {
    position: absolute;
    left: 16.5%;
    top: 6%;
}

.MEprojectTitle {
    margin-right: auto;
    margin-left: auto;
    font-family: Muli;
    color: whitesmoke;
    font-size: 2.4vw;
    font-weight: 600;
    text-align: center;
    line-height: 2.4vw;
    margin-bottom: 0.0vw;
}

.MEprojectTitle.smaller {
    font-size: 1.1vw;
    font-weight: 200;
    margin-top: 0;
}

.OArow {
    display: flex;
    position: relative;
    width: 70%;
    left: 15%;
}

.OAcolumn {
    flex: 50%;
}

.OAmarginRight {
    margin-right: 1vw;
}

.OAmarginLeft {
    margin-left: 1vw;
}

.textHeader {
    font-family: Muli;
    font-size: 1.2vw;
    font-weight: 300;
    text-align: center;
    line-height: 1.8vw;
}

.textHeader.topMargin {
    margin-top: 0.5vw;
}

.textHeader.topMarginBig {
    margin-top: 1.5vw;
}

.textContent {
    font-family: Bembobookmtpro;
    font-size: 1.1vw;
    line-height: 1.4;
    font-weight: 100;
}

.textContentMuli {
    font-family: Muli;
    font-size: 1vw;
    font-weight: 300;
}

.centerAlign {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.HIWrow {
    display: flex;
    position: relative;
    width: 70%;
    left: 15%;
    margin-top: 2vw;
}

.HIWcolumnBig {
    flex: 25%;
    margin-right: 1vw;
}

.HIWcolumnSmall {
    flex: 25%;
    margin-right: 2vw;
}

.HIWtextPosition {
    position: relative;
    top: 10vw;
}

.HIWrow2 {
    display: flex;
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 1vw;
}

.HIWcolumn2 {
    flex: 25%;
    margin: 1vw;
}

.WatchUIrow {
    display: flex;
    position: relative;
    width: 80%;
    left: 10%
}

.WatchUIcolumnLeft {
    flex: 50%;
    margin-right: 1vw;
    padding-right: 0.5vw;
    border-right: 1px solid #E6E7E8;
}

.watchUIleftText {
    font-family: Muli;
    font-size: 1vw;
    font-weight: 300;
    position: absolute;
    top: 12%;
    left: 3%;
}

.watchUIrightText {
    font-family: Muli;
    font-size: 1.0vw;
    font-weight: 300;
    position: absolute;
    top: 12%;
    left: 85%;
}

.WatchUIcolumnRight {
    flex: 50%;
    margin-left: 1vw;
    padding-left: 0.5vw;
    border-left: 1px solid #E6E7E8;
}

.protoRow {
    display: flex;
    position: relative;
    width: 80%;
    left: 10%;
}

.protoColumn {
    flex: 50%;
    position: relative;
    margin: 1vw;
}

.frameClass {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.UIsketchRow {
    display: flex;
    position: relative;
    width: 100%;
}

.UIsketchColumn {
    flex: 33.33%;
    margin: 2px;
}

@media only screen and (max-width:700px) {
    .chaosText {
        font-size: 4.5vw;
    }
    .chaosText.smaller {
        font-size: 2vw;
        left: 21.7%;
    }
    .chaosText.smaller.right {
        left: 74%;
    }
    .chaosText.smaller.right2 {
        top: 14vw;
        left: 74.5%;
    }
    .chaosText.smaller.right3 {
        top: 16.5vw;
        left: 69.6%;
    }
    .ongoing {
        font-size: 1.8vw;
        line-height: 2.4vw;
    }
    .newProjectTitle {
        z-index: 1;
        font-size: 1.8vw;
        line-height: 2.4vw;
    }
    .ongoing.No2 {
        font-size: 1.7vw;
        line-height: 2.3vw;
        margin-top: 9vw;
    }
    .newProjectTitle.No2 {
        font-size: 1.7vw;
    }
    .ongoing.No3 {
        font-size: 1.7vw;
        margin-top: 9vw;
    }
    .newProjectTitle.No3 {
        font-size: 1.7vw;
    }
    .MEprojectTitleDiv {
        top: 2%;
    }
    .MEprojectTitle {
        font-size: 2.7vw;
        line-height: 2.7vw;
    }
    .MEprojectTitle.smaller {
        font-size: 1.5vw;
    }
    .sectionTitle {
        font-size: 2vw;
        line-height: 2.4vw;
        padding-top: 1.1vw;
    }
    .sectionPartition {
        height: 5vw;
        background-color: #414042;
    }
    .textHeader {
        font-size: 2vw;
        line-height: 2.7vw;
    }
    .textContent {
        font-size: 2vw;
        line-height: 2.7vw;
        font-weight: 100;
    }
    .textContentMuli {
        font-size: 2vw;
        line-height: 2.7vw;
        text-align: left;
    }
    .HIWtextPosition {
        top: 7vw;
    }
    .watchUIleftText {
        font-size: 2vw;
        line-height: 2.7vw;
        width: 20%;
        text-align: center;
        left: 0;
        top: 6%;
    }
    .watchUIrightText {
        font-size: 2vw;
        line-height: 2.7vw;
        width: 20%;
        text-align: center;
        left: 85%;
        top: 6%;
    }
    .frameClass {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .protoRow {
        width: 80%;
        display: flex;
        left: 10%;
        flex-direction: column;
    }
    .protoColumn {
        flex: 100%;
        position: relative;
    }
}